<a href="https://colab.research.google.com/github/ustab/GUIDED_PROJECTS_STUDIES/blob/main/Copy_of_REGEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the Notebook 
---

## Task 1
### What is Regex?

Regular expressions (Regex) allow us to extract substrings with a specific pattern from a text.


##### Meta characters: 
characters with special meaning 

<img src="images/t1.png" >

##### Special Sequences: 
Special Sequences with a special meaning

<img src="images/t2.png" >

[] a set of characters
\ signals a special sequence
. any character
^ starts with
$ ends with
* zero
+ one or more
{} exactly th specified number of occurences
|either or
() capture and group
? match zero or one of the previous
\A returns a match if the specified characters are at the beginning of the string
\b returns a match where the specified characters are at the beginning or at the end of a word
\B returns a match where the specified  characters are present, but not at the beginning or at the end  of a word
\d returns a match where the string contains digits
\D returns a match where the string does not contain digits
\s returns a match whre the string contains a white space character
\S returns a match whre the string does not contain a white space character
\w returns a match whre the string contain any word characters 
\W returns a match whre the string does not contain any word characters 
\Z returns a match if the specified characters are at the end of the string.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import re

In [7]:
import pandas as pd

In [8]:
pd.read_csv(r'/content/dataset.csv')

                                               notes
0  Friends reunion on Thursday 25-05-2021 at 6:00 pm
1  on Saturday-night 29-05-2021 at 3:00 pm champi...
2  the doctor's appointment is on Tuesday 12-04-2...
3  Meeting with friends on Friday 14-12-2020 at 8...
4  On Wednesday 06.01.2021 at 9:30 pm there is a ...
5  Don't forget to call Dani on Friday 22/07/2020...
6  Wednesday 25/05/2021 at 5:30 pm, meeting with ...
7         Job interview at 9:00 am Monday 02.02.2021

In [9]:
paragraph = """John is 24 years old and Sara is 23 and Maiki is 15 years old."""

let's extract all ages

In [10]:
pattern_for_ages=r'\d+'
pattern_for_ages_2=r'[0-9]+'
ages=re.findall(pattern_for_ages_2, paragraph)
ages

['24', '23', '15']

let's extrac all names

In [11]:
pattern_for_names= r'[A-Z][a-z]+'
names=re.findall(pattern_for_names, paragraph)
names

['John', 'Sara', 'Maiki']

## Task 2
    - extracting phone numbers
    - formatting phone numbers so that all of them has the same format
    - extracting names
    - storing the data into a python dictionary

In [12]:
phone_numbers = """
john: 145-202-9330
Sara: 156.201.3333
maiki: 111*505*1254
"""

Extracting phone numbers

In [13]:
phone_pattern= r'\d\d\d.\d\d\d.\d\d\d\d'
phones=re.findall(phone_pattern, phone_numbers)
phones

['145-202-9330', '156.201.3333', '111*505*1254']

Reformatting phone numbers and then extracting them again

In [14]:
replace_pattern=r'[.*]'
phone_numbers=re.sub(replace_pattern, "_", phone_numbers)

phone_pattern= r'\d\d\d.\d\d\d.\d\d\d\d'
phone_pattern_2= r'\d{3}.\d{3}.\d{4}'
phones=re.findall(phone_pattern_2, phone_numbers)
phones

['145-202-9330', '156_201_3333', '111_505_1254']

Let's extract the names

In [15]:
name_pattern=r'[A-Z]?[a-z]+'
names=re.findall(name_pattern,phone_numbers)
names

['john', 'Sara', 'maiki']

Let's store it into a dictionary

In [16]:
contacts=dict()
for name in names:
  for number in phones:
    contacts[name]=number
contacts

{'Sara': '111_505_1254', 'john': '111_505_1254', 'maiki': '111_505_1254'}

## Task 3
    the user enters his/her email, we want to check if the email address entered by the user is in a correct format.

<img height= 400 width=600 src="images/emailparts.png">

In [17]:
email=input("please enter your email")
email_format=r'[A-Za-z0-9_.-]+@''[A-Za-z-.]+\.(com|net|edu|uk)'
if re.match(email_format, email):
  print("its ok")
else:
  print("wrong format")

please enter your emailustaburhanettin62@gmail.com
its ok

- Exercise: write a RegEx pattern that <b>does not</b> allow the user to enter an email address that begins with numbers.

In [18]:
1

1

### Task 4
     - write a RegEx pattern to recognize the following urls
     - reformatting the urls into => domain name + top level domain 
       E.g. coursera.org
    
<img height= 400 width=600 src="images/urlparts.png">

In [19]:
urls = """
https://www.google.com
http://youtube.com
https://www.nasa.gov
https://coursera.org
"""

let's reformat the urls

- Exercise: below you can see a list of dates with different formats. reformat all the dates into dd/mm/yyyy using Regex.

In [20]:
dates = """
12 01 2020
15.05.2021
07/03/2020
10-3-2019
"""

# Task 5

### Text Mining using RegEx

we have a dataset containing of some personal notes

In [21]:
import pandas as pd
data=pd.read_csv("/content/dataset.csv")
data

                                               notes
0  Friends reunion on Thursday 25-05-2021 at 6:00 pm
1  on Saturday-night 29-05-2021 at 3:00 pm champi...
2  the doctor's appointment is on Tuesday 12-04-2...
3  Meeting with friends on Friday 14-12-2020 at 8...
4  On Wednesday 06.01.2021 at 9:30 pm there is a ...
5  Don't forget to call Dani on Friday 22/07/2020...
6  Wednesday 25/05/2021 at 5:30 pm, meeting with ...
7         Job interview at 9:00 am Monday 02.02.2021

We want to extract some useful information out of this text data and store them into a dataframe. <br>
so let's create the dataframe

In [22]:
information= pd.DataFrame(columns=["day","month","year","weekday","time"])
information

Empty DataFrame
Columns: [day, month, year, weekday, time]
Index: []

Counting the number of words in each note

In [23]:
data["notes"].str.count(r"")

0    50
1    75
2    61
3    53
4    62
5    60
6    61
7    43
Name: notes, dtype: int64

Get the list of all of the words in each note

In [24]:
data["notes"].str.findall(r"\w+")

0    [Friends, reunion, on, Thursday, 25, 05, 2021,...
1    [on, Saturday, night, 29, 05, 2021, at, 3, 00,...
2    [the, doctor, s, appointment, is, on, Tuesday,...
3    [Meeting, with, friends, on, Friday, 14, 12, 2...
4    [On, Wednesday, 06, 01, 2021, at, 9, 30, pm, t...
5    [Don, t, forget, to, call, Dani, on, Friday, 2...
6    [Wednesday, 25, 05, 2021, at, 5, 30, pm, meeti...
7    [Job, interview, at, 9, 00, am, Monday, 02, 02...
Name: notes, dtype: object

Exercise: find all of the dates in each note

In [25]:
data["notes"].str.findall("\d{2}.\d{2}.\d{4}")

0    [25-05-2021]
1    [29-05-2021]
2    [12-04-2021]
3    [14-12-2020]
4    [06.01.2021]
5    [22/07/2020]
6    [25/05/2021]
7    [02.02.2021]
Name: notes, dtype: object

let's clean these dates and extract them

In [26]:
dates = data['notes'].str.replace(r'(\d{2}).(\{2}).(\d{4})', lambda groups: groups[1]+"/"+groups[2]+"/"+groups[3])
dates_df = dates.str.extract(r'(?P<day>\d{2}).(?P<month>\d{2}).(?P<year>\d{4})')
dates_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

  day month  year
0  25    05  2021
1  29    05  2021
2  12    04  2021
3  14    12  2020
4  06    01  2021
5  22    07  2020
6  25    05  2021
7  02    02  2021

Let's extract the times

In [27]:
time_df=data['notes'].str.extract('(?P<time>\d+:\d+)')
time_df

    time
0   6:00
1   3:00
2   4:40
3   8:30
4   9:30
5  12:00
6   5:30
7   9:00

Exercise: Extract the weekday names

In [28]:
weekday_df= data['notes'].str.extract("(?P<weekday>\w+day)")
weekday_df

     weekday
0   Thursday
1   Saturday
2    Tuesday
3     Friday
4  Wednesday
5     Friday
6  Wednesday
7     Monday

Now let's merge these three dataframes

In [29]:
information=dates_df.join(time_df).join(weekday_df)
information

  day month  year   time    weekday
0  25    05  2021   6:00   Thursday
1  29    05  2021   3:00   Saturday
2  12    04  2021   4:40    Tuesday
3  14    12  2020   8:30     Friday
4  06    01  2021   9:30  Wednesday
5  22    07  2020  12:00     Friday
6  25    05  2021   5:30  Wednesday
7  02    02  2021   9:00     Monday

Now we can do a lot of analysis based on this dataframe <br>

Let's answer to this question: <b> In which days of the week, I am busier? </b>

aggregate the dataframe on weekday column and count

In [30]:
information.weekday.value_counts()

Friday       2
Wednesday    2
Thursday     1
Saturday     1
Tuesday      1
Monday       1
Name: weekday, dtype: int64

as another analytical question: In which months this year, I have been busier?

In [31]:
information[information.year=="2021"].month.value_counts()

05    3
04    1
01    1
02    1
Name: month, dtype: int64