<a href="https://colab.research.google.com/github/ustab/GUIDED_PROJECTS_STUDIES/blob/main/Develop_your_first_Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This hands on project has been applied  under the guidance of the instructer, *Ryan is a Stanford Certified Project Manager (SCPM), certified Professional Engineer (P.Eng.) in Ontario, a member of the Society of Automotive Engineers (SAE), and a member of the Institute of Electrical and Electronics Engineers (IEEE). He is also the program Co-Chair at the 2017 IEEE Transportation and Electrification Conference (iTECâ€™17) in Chicago, IL, USA.*
please click the link for verifying my certificate on this project:

https://coursera.org/verify/WTBM595SHAPQ

# TASK #2: PERFORM MATH OPERATIONS IN PYTHON

In [4]:
# Define a variable named i and initialize it with 20 
# Let's assume that we want to increment the value by 4 
i=20
i=i+4

In [5]:
i

24

In [6]:
# Let's assume that you own a little grocery store 
# The price of 1 bottle of milk is $3 and we currently have 50 bottles
# We can calculate the total dollar value of our inventory as follows:
count=50
price=3
inventory=count*price

In [7]:
inventory

150

MINI CHALLENGE #2:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [11]:
AAPL_price_1 = 135
AAPL_price_2 = 150

price_diff = AAPL_price_2 - AAPL_price_1
percentage_change = price_diff / AAPL_price_1 * 100

percentage_change

11.11111111111111

# TASK #3: UNDERSTAND PRINT AND INPUT OPERATIONS

MINI CHALLENGE #3:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [12]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))

Enter the price of the stock you want to buy: 67
Enter the number of stocks that you want to buy: 90
Enter the name of the stock that you want to buy: 67
The total funds required to buy 90 number of 67 stocks at 67 is 6030

# TASK #4: UNDERSTAND LISTS DATA TYPES

MINI CHALLENGE #4:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [13]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[-1])

milk
rice
water

# TASK #5: UNDERSTAND COMPARISON OPERATORS AND CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [ ]:
# Let's take an input from the user and grant or deny access accordingly

MINI CHALLENGE #5:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [14]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 12
Number is Positive

# TASK #6: DEVELOP FUNCTIONS IN PYTHON

In [ ]:
# Define a function that takes in two argument x and y and returns their multiplication

In [ ]:
# Call the function

MINI CHALLENGE #6:
- Write a code that takes in three inputs from the user and calculate their sum

In [20]:
company_name='amazon'
shares=400
print('I own {} shares of {}'. format(shares, company_name))

I own 400 shares of amazon

In [29]:
company_name='amazon'
shares='400'
alma='cinema 789'
print(' {}  {} {}'. format(shares, company_name, alma))

 400  amazon cinema 789

# TASK #8: CAPSTONE PROJECT

Develop a guessing game that performs the following: 
- The system will automatically generate a random number between 1 and 100. 
- Users can insert any number between 1 and 100
- The program shall be able to compare the number generated by the system and the number that has been entered by the user. The program shall print out one of the following options to help the user improve their next guess:
    - You are right, great job!
    - Your guess is low, try again!
    - your guess is high, try again!

- The program exits when the user guess matches the number generated by the system

In [1]:
import random

In [2]:
t_number=random.randint(1,100)
t_number

13

In [3]:
gues_num=int(input('enter your guess between 1 and 100:'))
gues_num

enter your guess between 1 and 100:11

11

In [4]:
while True:
    if gues_num==t_number:
       print('you are right')
       break
    elif gues_num < t_number:
       print('your guess is low, try again')
       gues_num=int(input('enter your guess between 1 and 100:'))
    if gues_num > t_number:
       print('your guess is high, try again')
       gues_num=int(input('enter your guess between 1 and 100:'))

your guess is low, try again
enter your guess between 1 and 100:13
you are right

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

MINI CHALLENGE #1 SOLUTION:
- We defined a variable x and we assigned these 4 values listed below to it. Without executing any code cells, what will these lines of code generate?
- Verify your answer by executing the code cells

```
z = 1000
z = 2000
z = 5000
z = 6000
z
```

In [ ]:
# The output of this code is 5000
# Initially we put 1000 in z, then we overwrite it by placing 2000 in z, and then 5000 in z & finally 6000 in z
z = 1000
z = 2000
z = 5000
z = 6000
z

MINI CHALLENGE #2 SOLUTION:
- Write a code that takes in APPLE (AAPL) stock prices at two days and calculate the return:
  - AAPL price on day 1 = \$135
  - AAPL price on day 2 = \$150

In [ ]:
AAPL_price_1 = 135
AAPL_price_2 = 150

price_diff = AAPL_price_2 - AAPL_price_1
percentage_change = price_diff / AAPL_price_1 * 100

percentage_change

MINI CHALLENGE #3 SOLUTION:
- Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:
  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is: 15000

In [8]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))

Enter the price of the stock you want to buy: 10
Enter the number of stocks that you want to buy: 20
Enter the name of the stock that you want to buy: 30
The total funds required to buy 20 number of 30 stocks at 10 is 200

MINI CHALLENGE #4 SOLUTION:
- Print the first, second and last element in the list below

```
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']

```

In [9]:
grocery_list = ['milk', 'rice', 'eggs', 'bread', 'oranges', 'water']
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[-1])

milk
rice
water

MINI CHALLENGE #5 SOLUTION:
- Write a code that takes a number from the user and indicates if it's positive or negative

In [10]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Number is Negative')
elif x > 0:
    print('Number is Positive')
else:    
    print ('Number is zero')

Please enter an integer: 45
Number is Positive

MINI CHALLENGE #6 SOLUTION:
- Write a code that takes in three inputs from the user and calculate their sum

In [ ]:
def summation(x, y, z):
    return x + y + z

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

total = summation(num1, num2, num3)

print('Total balance = {}'.format(total))

MINI CHALLENGE #7 SOLUTION:
- Write a code that displays numbers from 1 to 10 using for and while loops

In [ ]:
i = 1
while (i < 11):
  print (i)
  i = i+1

In [ ]:
for i in range(1, 11):
    print(i)